<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar-Group</title>
    <style>
      .ded-dropdown-menu {
        display: none;
        position: absolute;
        z-index: 1000; /* 確保在頂層 */
      }
    </style>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Avatar-Group</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div class="ded-avatar-group">
          <div class="ded-avatar-overlay">
            <div class="ded-avatar-container ded-avatar-container-large">
              <div class="ded-avatar ded-avatar-circle">
                <span class="ded-avatar-text ded-text-large">EA</span>
              </div>
            </div>
          </div>
          <div class="ded-avatar-overlay">
            <div class="ded-avatar-container ded-avatar-container-large">
              <div class="ded-avatar ded-avatar-circle">
                <span class="ded-avatar-text ded-text-large">KY</span>
              </div>
            </div>
          </div>
          <div class="ded-avatar-overlay">
            <div class="ded-avatar-container ded-avatar-container-large">
              <button class="ded-avatar ded-avatar-circle">
                <span class="ded-avatar-text">+3</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.querySelectorAll(".ded-avatar-text").forEach((avatarText) => {
        avatarText.addEventListener("click", (event) => {
          // 找到對應的 dropdown menu
          const dropdownMenu = document.querySelector(".ded-dropdown-menu");
          if (dropdownMenu) {
            // 切換顯示狀態
            const isVisible = dropdownMenu.style.display === "block";
            dropdownMenu.style.display = isVisible ? "none" : "block";

            // 根據 avatar-text 的位置調整 dropdown 位置
            if (!isVisible) {
              const rect = event.target.getBoundingClientRect();
              dropdownMenu.style.top = `${rect.bottom}px`;
              dropdownMenu.style.left = `${rect.left}px`;
            }
          }
        });
      });
    </script>
  </body>
</html>
