<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px">麵包屑</h2>
        <nav class="ded-breadcrumb-container" style="margin-left: 16px">
          <ol class="ded-breadcrumb">
            <li class="ded-breadcrumb-item">
              <a class="ded-breadcrumb-item-link" href="/">Home</a>
            </li>
            <li class="ded-breadcrumb-item">
              <div class="ded-rest"><div class="ded-rest-label">···</div></div>
            </li>
            <li class="ded-breadcrumb-item">
              <a class="ded-breadcrumb-item-link" href="/first/second/third/n"
                >Level3</a
              >
            </li>
            <li class="ded-breadcrumb-item">
              <span class="ded-breadcrumb-item-label">Current</span>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </body>
</html>
