<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card-Simple</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px">Card-Simple</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div class="ded-container-fluid" style="margin-bottom: 24px">
          <div
            class="ded-row"
            style="
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
              flex-wrap: wrap;
            "
          >
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: start"
            >
              <div
                class="ded-card-simple ded-card-simple-vertical ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-16x9">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-vertical"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          按鈕對齊方式 ( left, center, right )
        </h3>
        <div class="ded-container-fluid" style="margin-bottom: 24px">
          <div
            class="ded-row"
            style="
              display: flex;
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
            "
          >
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: start"
            >
              <div
                class="ded-card-simple ded-card-simple-vertical ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-16x9">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-vertical"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: start"
            >
              <div
                class="ded-card-simple ded-card-simple-vertical ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-16x9">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-vertical"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-center"
                  >
                    <button
                      class="ded-button ded-button-fluid ded-text-medium ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: start"
            >
              <div
                class="ded-card-simple ded-card-simple-vertical ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-16x9">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-vertical"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-right"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          垂直佈局
        </h3>
        <div class="ded-container-fluid" style="margin-bottom: 24px">
          <div
            class="ded-row"
            style="
              display: flex;
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
              flex-wrap: wrap;
            "
          >
            <div
              class="ded-col-xs-12 ded-col-md-6 ded-col-lg-3"
              style="text-align: start"
            >
              <div
                class="ded-card-simple ded-card-simple-vertical ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-16x9">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-vertical"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-md-6 ded-col-lg-3"
              style="text-align: start"
            >
              <div
                class="ded-card-simple ded-card-simple-vertical ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-16x9">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-vertical"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-md-6 ded-col-lg-3"
              style="text-align: start"
            >
              <div
                class="ded-card-simple ded-card-simple-vertical ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-16x9">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-vertical"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-md-6 ded-col-lg-3"
              style="text-align: start"
            >
              <div
                class="ded-card-simple ded-card-simple-vertical ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-16x9">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-vertical"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          水平佈局
        </h3>
        <div class="ded-container-fluid">
          <div
            class="ded-row"
            style="
              display: flex;
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
              flex-wrap: wrap;
            "
          >
            <div class="ded-col-xs-6" style="text-align: start">
              <div
                class="ded-card-simple ded-card-simple-horizontal ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-1x1">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-horizontal"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-large ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="ded-col-xs-6" style="text-align: start">
              <div
                class="ded-card-simple ded-card-simple-horizontal ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-1x1">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-horizontal"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-large ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="ded-col-xs-6" style="text-align: start">
              <div
                class="ded-card-simple ded-card-simple-horizontal ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-1x1">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-horizontal"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-large ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="ded-col-xs-6" style="text-align: start">
              <div
                class="ded-card-simple ded-card-simple-horizontal ded-card-simple-border"
              >
                <div class="ded-card-simple-image">
                  <div class="ded-image-cover-container ratio-1x1">
                    <img
                      class="ded-image-cover cover"
                      src="https://storage.googleapis.com/ded-wds-bucket/card_bg.png"
                      alt="placeholder"
                    />
                  </div>
                </div>
                <div class="ded-card-simple-content">
                  <div
                    class="ded-card-simple-text ded-card-simple-text-horizontal"
                  >
                    <div class="ded-title ded-title-level-3 ded-title-primary">
                      Card Title
                    </div>
                    <p class="ded-card-simple-text-subtitle">Subtitle</p>
                    <p class="ded-card-simple-text-desc ded-multiline-ellipsis">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry
                      standard dummy text ever since the 1500s...
                    </p>
                  </div>
                  <div
                    class="ded-card-simple-content-button-group ded-card-simple-content-button-group-left"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-large ded-button-filled ded-button-filled-primary"
                    >
                      <div class="ded-button-content">Button</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
