<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px">Divider</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div
          class="ded-divider ded-divider-horizontal ded-divider-small ded-divider-solid ded-divider-center"
        >
          <div class="ded-divider-content">Divider</div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          文字對齊
        </h3>
        <div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-1px ded-divider-solid ded-divider-start"
          >
            <div class="ded-divider-content">Start</div>
          </div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-1px ded-divider-solid ded-divider-center"
          >
            <div class="ded-divider-content">Center</div>
          </div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-1px ded-divider-solid ded-divider-end"
          >
            <div class="ded-divider-content">End</div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          線條粗細
        </h3>
        <div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-1px ded-divider-solid ded-divider-center"
          >
            <div class="ded-divider-content">1px</div>
          </div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-2px ded-divider-solid ded-divider-center"
          >
            <div class="ded-divider-content">2px</div>
          </div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-3px ded-divider-solid ded-divider-center"
          >
            <div class="ded-divider-content">3px</div>
          </div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-4px ded-divider-solid ded-divider-center"
          >
            <div class="ded-divider-content">4px</div>
          </div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-5px ded-divider-solid ded-divider-center"
          >
            <div class="ded-divider-content">5px</div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          線條類型
        </h3>
        <div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-1px ded-divider-solid ded-divider-center"
          >
            <div class="ded-divider-content">Solid</div>
          </div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-1px ded-divider-dotted ded-divider-center"
          >
            <div class="ded-divider-content">Dotted</div>
          </div>
          <div
            class="ded-divider ded-divider-horizontal ded-divider-1px ded-divider-dashed ded-divider-center"
          >
            <div class="ded-divider-content">Dashed</div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          線條方向
        </h3>
        <div style="display: flex; height: 100px">
          <div
            class="ded-divider ded-divider-vertical ded-divider-1px ded-divider-solid ded-divider-start"
          >
            <div class="ded-divider-content">Start</div>
          </div>
          <div
            class="ded-divider ded-divider-vertical ded-divider-1px ded-divider-solid ded-divider-center"
          >
            <div class="ded-divider-content">Center</div>
          </div>
          <div
            class="ded-divider ded-divider-vertical ded-divider-1px ded-divider-solid ded-divider-end"
          >
            <div class="ded-divider-content">End</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
