<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dropdown</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Dropdown</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <label class="ded-input-label">Label</label>
        <div id="dropdownRef" class="ded-dropdown">
          <div class="ded-input-container ded-dropdown-input">
            <div class="ded-input-group ded-text-medium">
              <input
                id=":r1:-input"
                type="text"
                class="ded-input ded-text-medium"
                placeholder="Placeholder"
                value="Option1"
              />
              <div class="ded-input-feat-icon">
                <div class="ded-icon-medium" style="cursor: pointer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="20"
                    viewBox="0 -960 960 960"
                    width="20"
                    fill="currentColor"
                    class="ded-dropdown-close"
                  >
                    <path
                      d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
            <small class="ded-input-hint undefined"></small>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // 獲取 dropdownRef 和 ded-tooltip 的 DOM 元素
        const dropdownRef = document.getElementById("dropdownRef");
        const tooltip = document.querySelector(".ded-tooltip");

        // 添加點擊事件到 dropdownRef
        dropdownRef.addEventListener("click", function () {
          // 檢查 tooltip 是否已展開
          const isVisible = tooltip.style.display === "block";

          // 切換 tooltip 的顯示與隱藏
          tooltip.style.display = isVisible ? "none" : "block";
        });

        // 點擊其他區域時隱藏 tooltip
        document.addEventListener("click", function (event) {
          if (
            !dropdownRef.contains(event.target) &&
            !tooltip.contains(event.target)
          ) {
            tooltip.style.display = "none";
          }
        });
      });
    </script>
  </body>
</html>
