<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Grid</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div class="ded-container-fluid" style="margin-bottom: 24px">
          <div
            class="ded-row ded-gap-0"
            style="
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
            "
          >
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column1
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column2
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column3
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column4
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column5
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column6
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column7
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column8
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column9
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column10
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column11
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3 ded-col-xl-2"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column12
              </div>
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          格線系統-4欄
        </h3>
        <div class="ded-container-fluid" style="margin-bottom: 24px">
          <div
            class="ded-row ded-gap-0"
            style="
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
            "
          >
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column1
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column2
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column3
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column4
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column5
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column6
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column7
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column8
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column9
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column10
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column11
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4 ded-col-lg-3"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column12
              </div>
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          格線系統-3欄
        </h3>
        <div class="ded-container-fluid" style="margin-bottom: 24px">
          <div
            class="ded-row"
            style="
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
            "
          >
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column1
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column2
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column3
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column4
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column5
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column6
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column7
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column8
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column9
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column10
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column11
              </div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-4"
              style="text-align: center"
            >
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column12
              </div>
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          格線系統-2欄
        </h3>
        <div class="ded-container-fluid" style="margin-bottom: 24px">
          <div
            class="ded-row"
            style="
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
            "
          >
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column1
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column2
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column3
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column4
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column5
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column6
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column7
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column8
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column9
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column10
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column11
              </div>
            </div>
            <div class="ded-col-xs-12 ded-col-sm-6" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column12
              </div>
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          格線系統-1欄
        </h3>
        <div class="ded-container-fluid">
          <div
            class="ded-row"
            style="
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
            "
          >
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column1
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column2
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column3
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column4
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column5
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column6
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column7
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column8
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column9
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column10
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column11
              </div>
            </div>
            <div class="ded-col-xs-12" style="text-align: center">
              <div
                class="diagonal-background"
                style="border: 1px solid rgb(204, 204, 204); padding: 8px 16px"
              >
                Column12
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
