<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Image</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div class="ded-container-fluid" style="margin-bottom: 24px">
          <div
            class="ded-row"
            style="
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
            "
          >
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-3"
              style="text-align: start"
            >
              <div class="ded-image-cover-container ratio-1x1">
                <img
                  class="ded-image-cover cover"
                  src="https://picsum.photos/300/300?random=1"
                  alt="placeholder"
                />
              </div>
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          圖片比例
        </h3>
        <div class="ded-container-fluid" style="margin-bottom: 24px">
          <div
            class="ded-row"
            style="
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
            "
          >
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-3"
              style="text-align: start"
            >
              <div class="ded-image-cover-container ratio-1x1">
                <img
                  class="ded-image-cover none"
                  src="https://picsum.photos/300/300?random=2"
                  alt="placeholder"
                />
              </div>
              <div style="text-align: right">1x1</div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-3"
              style="text-align: start"
            >
              <div class="ded-image-cover-container ratio-4x3">
                <img
                  class="ded-image-cover none"
                  src="https://picsum.photos/300/300?random=2"
                  alt="placeholder"
                />
              </div>
              <div style="text-align: right">4x3</div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-3"
              style="text-align: start"
            >
              <div class="ded-image-cover-container ratio-5x4">
                <img
                  class="ded-image-cover none"
                  src="https://picsum.photos/300/300?random=2"
                  alt="placeholder"
                />
              </div>
              <div style="text-align: right">5x4</div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-3"
              style="text-align: start"
            >
              <div class="ded-image-cover-container ratio-16x9">
                <img
                  class="ded-image-cover none"
                  src="https://picsum.photos/300/300?random=2"
                  alt="placeholder"
                />
              </div>
              <div style="text-align: right">16x9</div>
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          填滿方式
        </h3>
        <div class="ded-container-fluid">
          <div
            class="ded-row"
            style="
              justify-content: flex-start;
              align-items: stretch;
              row-gap: 16px;
            "
          >
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-3"
              style="text-align: start"
            >
              <div class="ded-image-cover-container">
                <img
                  class="ded-image-cover none"
                  src="https://picsum.photos/300/200?random=3"
                  alt=""
                />
              </div>
              <div style="text-align: right">none</div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-3"
              style="text-align: start"
            >
              <div class="ded-image-cover-container">
                <img
                  class="ded-image-cover contain"
                  src="https://picsum.photos/300/200?random=3"
                  alt=""
                />
              </div>
              <div style="text-align: right">contain</div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-3"
              style="text-align: start"
            >
              <div class="ded-image-cover-container">
                <img
                  class="ded-image-cover fill"
                  src="https://picsum.photos/300/200?random=3"
                  alt=""
                />
              </div>
              <div style="text-align: right">fill</div>
            </div>
            <div
              class="ded-col-xs-12 ded-col-sm-6 ded-col-md-3"
              style="text-align: start"
            >
              <div class="ded-image-cover-container">
                <img
                  class="ded-image-cover cover"
                  src="https://picsum.photos/300/200?random=3"
                  alt=""
                />
              </div>
              <div style="text-align: right">cover</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
