<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagination</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Pagination</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div class="ded-pagination-container" style="margin-bottom: 24px">
          <div class="ded-pagination">
            <button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost-disabled ded-pagination-button"
            >
              <div class="ded-button-content">
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="ded-pagination-button-first"
                >
                  <mask
                    id="mask0_10129_7246"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="19"
                    height="19"
                    style="mask-type: alpha"
                  >
                    <rect x="0.5" y="0.5" width="18" height="18"></rect>
                  </mask>
                  <g mask="url(#mask0_10129_7246)">
                    <path
                      d="M5.75 13.7403L4.95969 12.95L8.40969 9.5L4.95969 6.05L5.75 5.25969L9.99031 9.5L5.75 13.7403ZM12.6875 13.8125V5.1875H13.8125V13.8125H12.6875Z"
                    ></path>
                  </g>
                </svg>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost-disabled ded-pagination-button"
            >
              <div class="ded-button-content">
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="ded-pagination-button-back"
                >
                  <mask
                    id="mask0_10129_7240"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="19"
                    height="19"
                    style="mask-type: alpha"
                  >
                    <rect x="0.5" y="0.5" width="18" height="18"></rect>
                  </mask>
                  <g mask="url(#mask0_10129_7240)">
                    <path
                      d="M10.4375 9.48124L6.725 5.76874L7.53125 4.96249L12.05 9.48124L7.53125 14L6.725 13.1937L10.4375 9.48124Z"
                    ></path>
                  </g>
                </svg>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button ded-pagination-active"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">1</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">2</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">3</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">4</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">5</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">6</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">7</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">8</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">9</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">10</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_10129_7240"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="19"
                    height="19"
                    style="mask-type: alpha"
                  >
                    <rect x="0.5" y="0.5" width="18" height="18"></rect>
                  </mask>
                  <g mask="url(#mask0_10129_7240)">
                    <path
                      d="M10.4375 9.48124L6.725 5.76874L7.53125 4.96249L12.05 9.48124L7.53125 14L6.725 13.1937L10.4375 9.48124Z"
                    ></path>
                  </g>
                </svg>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
            >
              <div class="ded-button-content">
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_10129_7246"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="19"
                    height="19"
                    style="mask-type: alpha"
                  >
                    <rect x="0.5" y="0.5" width="18" height="18"></rect>
                  </mask>
                  <g mask="url(#mask0_10129_7246)">
                    <path
                      d="M5.75 13.7403L4.95969 12.95L8.40969 9.5L4.95969 6.05L5.75 5.25969L9.99031 9.5L5.75 13.7403ZM12.6875 13.8125V5.1875H13.8125V13.8125H12.6875Z"
                    ></path>
                  </g>
                </svg>
              </div>
            </button>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          顯示資訊
        </h3>
        <div class="ded-pagination-container">
          <div class="ded-pagination-info">
            <div class="ded-pagination-info-text">
              共
              <span class="ded-pagination-info-highline">100</span> 筆資料，第
              <span class="ded-pagination-info-highline">1</span> /
              <span class="ded-pagination-info-highline">20</span> 頁 每頁顯示
            </div>
            <select class="ded-pagination-select">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option></select
            ><span>筆</span>
          </div>
          <div class="ded-pagination">
            <button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost-disabled ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="ded-pagination-button-first"
                >
                  <mask
                    id="mask0_10129_7246"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="19"
                    height="19"
                    style="mask-type: alpha"
                  >
                    <rect x="0.5" y="0.5" width="18" height="18"></rect>
                  </mask>
                  <g mask="url(#mask0_10129_7246)">
                    <path
                      d="M5.75 13.7403L4.95969 12.95L8.40969 9.5L4.95969 6.05L5.75 5.25969L9.99031 9.5L5.75 13.7403ZM12.6875 13.8125V5.1875H13.8125V13.8125H12.6875Z"
                    ></path>
                  </g>
                </svg>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost-disabled ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  class="ded-pagination-button-back"
                >
                  <mask
                    id="mask0_10129_7240"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="19"
                    height="19"
                    style="mask-type: alpha"
                  >
                    <rect x="0.5" y="0.5" width="18" height="18"></rect>
                  </mask>
                  <g mask="url(#mask0_10129_7240)">
                    <path
                      d="M10.4375 9.48124L6.725 5.76874L7.53125 4.96249L12.05 9.48124L7.53125 14L6.725 13.1937L10.4375 9.48124Z"
                    ></path>
                  </g>
                </svg>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button ded-pagination-active"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">1</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">2</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">3</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">4</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">5</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">6</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">7</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">8</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">9</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <div class="ded-pagination-number">10</div>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_10129_7240"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="19"
                    height="19"
                    style="mask-type: alpha"
                  >
                    <rect x="0.5" y="0.5" width="18" height="18"></rect>
                  </mask>
                  <g mask="url(#mask0_10129_7240)">
                    <path
                      d="M10.4375 9.48124L6.725 5.76874L7.53125 4.96249L12.05 9.48124L7.53125 14L6.725 13.1937L10.4375 9.48124Z"
                    ></path>
                  </g>
                </svg>
              </div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-ghost ded-button-ghost-neutral ded-pagination-button"
              type="button"
            >
              <div class="ded-button-content">
                <svg
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <mask
                    id="mask0_10129_7246"
                    maskUnits="userSpaceOnUse"
                    x="0"
                    y="0"
                    width="19"
                    height="19"
                    style="mask-type: alpha"
                  >
                    <rect x="0.5" y="0.5" width="18" height="18"></rect>
                  </mask>
                  <g mask="url(#mask0_10129_7246)">
                    <path
                      d="M5.75 13.7403L4.95969 12.95L8.40969 9.5L4.95969 6.05L5.75 5.25969L9.99031 9.5L5.75 13.7403ZM12.6875 13.8125V5.1875H13.8125V13.8125H12.6875Z"
                    ></path>
                  </g>
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
