<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px">麵包屑</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div class="ded-progress-line-container">
          <div class="ded-progress-line-label ded-progress-label">Label</div>
          <div class="ded-progress-line">
            <div class="ded-progress-line-track" style="height: 10px">
              <div
                class="ded-progress-line-percent-form ded-progress-line-percent-form-none"
                style="width: 65%"
              ></div>
            </div>
            <div
              class="ded-progress-line-label ded-progress-percent-text ded-progress-percent-text-none"
            >
              65%
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          顯示標籤
        </h3>
        <div class="ded-progress-line-container">
          <div class="ded-progress-line-label ded-progress-label">Label</div>
          <div class="ded-progress-line">
            <div class="ded-progress-line-track" style="height: 10px">
              <div
                class="ded-progress-line-percent-form ded-progress-line-percent-form-none"
                style="width: 65%"
              ></div>
            </div>
            <div
              class="ded-progress-line-label ded-progress-percent-text ded-progress-percent-text-none"
            >
              65%
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          主題色彩
        </h3>
        <div style="display: flex; flex-direction: column; gap: 8px">
          <div class="ded-progress-line-container">
            <div class="ded-progress-line-label ded-progress-label">Label</div>
            <div class="ded-progress-line">
              <div class="ded-progress-line-track" style="height: 10px">
                <div
                  class="ded-progress-line-percent-form ded-progress-line-percent-form-neutral"
                  style="width: 60%"
                ></div>
              </div>
              <div
                class="ded-progress-line-label ded-progress-percent-text ded-progress-percent-text-neutral"
              >
                60%
              </div>
            </div>
          </div>
          <div class="ded-progress-line-container">
            <div class="ded-progress-line-label ded-progress-label">Label</div>
            <div class="ded-progress-line">
              <div class="ded-progress-line-track" style="height: 10px">
                <div
                  class="ded-progress-line-percent-form ded-progress-line-percent-form-primary"
                  style="width: 40%"
                ></div>
              </div>
              <div
                class="ded-progress-line-label ded-progress-percent-text ded-progress-percent-text-primary"
              >
                40%
              </div>
            </div>
          </div>
          <div class="ded-progress-line-container">
            <div class="ded-progress-line-label ded-progress-label">Label</div>
            <div class="ded-progress-line">
              <div class="ded-progress-line-track" style="height: 10px">
                <div
                  class="ded-progress-line-percent-form ded-progress-line-percent-form-secondary"
                  style="width: 50%"
                ></div>
              </div>
              <div
                class="ded-progress-line-label ded-progress-percent-text ded-progress-percent-text-secondary"
              >
                50%
              </div>
            </div>
          </div>
          <div class="ded-progress-line-container">
            <div class="ded-progress-line-label ded-progress-label">Label</div>
            <div class="ded-progress-line">
              <div class="ded-progress-line-track" style="height: 10px">
                <div
                  class="ded-progress-line-percent-form ded-progress-line-percent-form-info"
                  style="width: 70%"
                ></div>
              </div>
              <div
                class="ded-progress-line-label ded-progress-percent-text ded-progress-percent-text-info"
              >
                70%
              </div>
            </div>
          </div>
          <div class="ded-progress-line-container">
            <div class="ded-progress-line-label ded-progress-label">Label</div>
            <div class="ded-progress-line">
              <div class="ded-progress-line-track" style="height: 10px">
                <div
                  class="ded-progress-line-percent-form ded-progress-line-percent-form-success"
                  style="width: 80%"
                ></div>
              </div>
              <div
                class="ded-progress-line-label ded-progress-percent-text ded-progress-percent-text-success"
              >
                80%
              </div>
            </div>
          </div>
          <div class="ded-progress-line-container">
            <div class="ded-progress-line-label ded-progress-label">Label</div>
            <div class="ded-progress-line">
              <div class="ded-progress-line-track" style="height: 10px">
                <div
                  class="ded-progress-line-percent-form ded-progress-line-percent-form-warning"
                  style="width: 90%"
                ></div>
              </div>
              <div
                class="ded-progress-line-label ded-progress-percent-text ded-progress-percent-text-warning"
              >
                90%
              </div>
            </div>
          </div>
          <div class="ded-progress-line-container">
            <div class="ded-progress-line-label ded-progress-label">Label</div>
            <div class="ded-progress-line">
              <div class="ded-progress-line-track" style="height: 10px">
                <div
                  class="ded-progress-line-percent-form ded-progress-line-percent-form-error"
                  style="width: 100%"
                ></div>
              </div>
              <div
                class="ded-progress-line-label ded-progress-percent-text ded-progress-percent-text-error"
              >
                100%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
