<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <h2 style="font-size: 24px; margin-bottom: 16px">Search</h2>
      <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
        預設項目
      </h3>
      <div class="ded-search" style="margin-bottom: 24px">
        <div class="ded-input-container ded-search-input">
          <div class="ded-input-group ded-text-medium">
            <label for="ded-input" class="ded-input-icon ded-icon-medium"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="20"
                viewBox="0 -960 960 960"
                width="20"
                fill="currentColor"
              >
                <path
                  d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
                ></path></svg></label
            ><input
              id="ded-input"
              name=""
              type="text"
              class="ded-input ded-text-medium ded-input-prefix"
              placeholder="Type something"
              value=""
            />
            <div class="ded-input-feat-icon"></div>
          </div>
          <small class="ded-input-hint undefined"></small>
        </div>
        <button
          class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
          type="button"
        >
          <div class="ded-button-content">Search</div>
        </button>
      </div>
      <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
        元件尺寸 ( small, medium, large)
      </h3>
      <div class="ded-search" style="margin-bottom: 16px">
        <div class="ded-input-container ded-search-input">
          <div class="ded-input-group ded-text-large">
            <label for="ded-input" class="ded-input-icon ded-icon-large"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="20"
                viewBox="0 -960 960 960"
                width="20"
                fill="currentColor"
              >
                <path
                  d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
                ></path></svg></label
            ><input
              id="ded-input"
              name=""
              type="text"
              class="ded-input ded-text-large ded-input-prefix"
              placeholder="Type something"
              value=""
            />
            <div class="ded-input-feat-icon"></div>
          </div>
          <small class="ded-input-hint undefined"></small>
        </div>
        <button
          class="ded-button ded-button-fit ded-text-large ded-button-filled ded-button-filled-primary"
          type="button"
        >
          <div class="ded-button-content">Search</div>
        </button>
      </div>
      <div class="ded-search" style="margin-bottom: 16px">
        <div class="ded-input-container ded-search-input">
          <div class="ded-input-group ded-text-medium">
            <label for="ded-input" class="ded-input-icon ded-icon-medium"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="20"
                viewBox="0 -960 960 960"
                width="20"
                fill="currentColor"
              >
                <path
                  d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
                ></path></svg></label
            ><input
              id="ded-input"
              name=""
              type="text"
              class="ded-input ded-text-medium ded-input-prefix"
              placeholder="Type something"
              value=""
            />
            <div class="ded-input-feat-icon"></div>
          </div>
          <small class="ded-input-hint undefined"></small>
        </div>
        <button
          class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
          type="button"
        >
          <div class="ded-button-content">Search</div>
        </button>
      </div>
      <div class="ded-search" style="margin-bottom: 16px">
        <div class="ded-input-container ded-search-input">
          <div class="ded-input-group ded-text-small">
            <label for="ded-input" class="ded-input-icon ded-icon-small"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                height="20"
                viewBox="0 -960 960 960"
                width="20"
                fill="currentColor"
              >
                <path
                  d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
                ></path></svg></label
            ><input
              id="ded-input"
              name=""
              type="text"
              class="ded-input ded-text-small ded-input-prefix"
              placeholder="Type something"
              value=""
            />
            <div class="ded-input-feat-icon"></div>
          </div>
          <small class="ded-input-hint undefined"></small>
        </div>
        <button
          class="ded-button ded-button-fit ded-text-small ded-button-filled ded-button-filled-primary"
          type="button"
        >
          <div class="ded-button-content">Search</div>
        </button>
      </div>
    </div>
  </body>
</html>
