<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Select</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div class="ded-select-container" style="margin-bottom: 24px">
          <select class="ded-select">
            <option value="" disabled="" hidden="">Select</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <div class="ded-select-icon">
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <mask
                id="mask0_11098_14270"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="18"
                height="18"
                style="mask-type: alpha"
              >
                <rect width="18" height="18"></rect>
              </mask>
              <g mask="url(#mask0_11098_14270)">
                <path d="M9 11.25L5.25 7.51874H12.75L9 11.25Z"></path>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
