<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Slider-Control</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div style="margin-bottom: 24px">
          <div class="ded-stepper ded-stepper-horizontal">
            <div class="ded-stepper-header">
              <div class="ded-step ded-step-completed">
                <div class="ded-step-circle">1</div>
                <div class="ded-step-group">
                  <div class="ded-step-title">Step 1</div>
                  <div class="ded-step-description">Description</div>
                </div>
              </div>
              <div class="ded-step ded-step-active">
                <div class="ded-step-circle">2</div>
                <div class="ded-step-group">
                  <div class="ded-step-title">Step 2</div>
                  <div class="ded-step-description">Description</div>
                </div>
              </div>
              <div class="ded-step">
                <div class="ded-step-circle">3</div>
                <div class="ded-step-group">
                  <div class="ded-step-title">Step 3</div>
                  <div class="ded-step-description">Description</div>
                </div>
              </div>
            </div>
            <div class="ded-stepper-content">Content for Step 2</div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          橫向互動模式
        </h3>
        <div style="margin-bottom: 24px">
          <div class="ded-stepper ded-stepper-horizontal">
            <div class="ded-stepper-header">
              <div class="ded-step ded-step-completed">
                <div class="ded-step-circle">1</div>
                <div class="ded-step-group">
                  <div class="ded-step-title">Step 1</div>
                  <div class="ded-step-description">Description</div>
                </div>
              </div>
              <div class="ded-step ded-step-active">
                <div class="ded-step-circle">2</div>
                <div class="ded-step-group">
                  <div class="ded-step-title">Step 2</div>
                  <div class="ded-step-description">Description</div>
                </div>
              </div>
              <div class="ded-step">
                <div class="ded-step-circle">3</div>
                <div class="ded-step-group">
                  <div class="ded-step-title">Step 3</div>
                  <div class="ded-step-description">Description</div>
                </div>
              </div>
            </div>
            <div class="ded-stepper-content">Content for Step 2</div>
          </div>
          <div
            style="
              display: flex;
              justify-content: flex-start;
              gap: 8px;
              margin-top: 16px;
            "
          >
            <button
              class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
              type="button"
            >
              <div class="ded-button-content">Previous</div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
              type="button"
            >
              <div class="ded-button-content">Next</div>
            </button>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          直向互動模式
        </h3>
        <div style="margin-bottom: 24px">
          <div class="ded-stepper ded-stepper-vertical">
            <div class="ded-stepper-header">
              <div class="ded-step ded-step-completed">
                <div class="ded-step-circle">1</div>
                <div class="ded-step-group">
                  <div class="ded-step-title">Step 1</div>
                  <div class="ded-step-description">Description</div>
                </div>
                <div class="ded-step-connector"></div>
              </div>
              <div class="ded-step ded-step-active">
                <div class="ded-step-circle">2</div>
                <div class="ded-step-group">
                  <div class="ded-step-title">Step 2</div>
                  <div class="ded-step-description">Description</div>
                </div>
                <div class="ded-step-connector"></div>
              </div>
              <div class="ded-step">
                <div class="ded-step-circle">3</div>
                <div class="ded-step-group">
                  <div class="ded-step-title">Step 3</div>
                  <div class="ded-step-description">Description</div>
                </div>
              </div>
            </div>
            <div class="ded-stepper-content">Content for Step 2</div>
          </div>
          <div
            style="
              display: flex;
              justify-content: flex-start;
              gap: 8px;
              margin-top: 16px;
            "
          >
            <button
              class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
              type="button"
            >
              <div class="ded-button-content">Previous</div></button
            ><button
              class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary"
              type="button"
            >
              <div class="ded-button-content">Next</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
