<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Table</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div style="margin-bottom: 24px">
          <div class="ded-table-container" style="overflow-x: auto">
            <table class="ded-table">
              <thead class="ded-table-thead">
                <tr class="ded-table-thead-tr">
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 50px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 50px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 50px; text-align: center"
                  >
                    TH
                  </th>
                </tr>
              </thead>
              <tbody class="ded-table-tbody">
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          框線錶格
        </h3>
        <div style="margin-bottom: 24px">
          <div class="ded-table-container" style="overflow-x: auto">
            <table class="ded-table">
              <thead class="ded-table-thead">
                <tr class="ded-table-thead-tr">
                  <th
                    class="ded-table-thead-tr-th ded-table-thead-tr-th-border"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </th>
                  <th
                    class="ded-table-thead-tr-th ded-table-thead-tr-th-border"
                    style="width: 50px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th ded-table-thead-tr-th-border"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th ded-table-thead-tr-th-border"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th ded-table-thead-tr-th-border"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th ded-table-thead-tr-th-border"
                    style="width: 50px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th ded-table-thead-tr-th-border"
                    style="width: 50px; text-align: center"
                  >
                    TH
                  </th>
                </tr>
              </thead>
              <tbody class="ded-table-tbody">
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: left"
                  >
                    Head-1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: left"
                  >
                    Head-2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: left"
                  >
                    Head-3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: left"
                  >
                    Head-4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td ded-table-tbody-tr-td-border"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          客製化欄位
        </h3>
        <div style="margin-bottom: 24px">
          <div class="ded-table-container" style="overflow-x: auto">
            <table class="ded-table">
              <thead class="ded-table-thead">
                <tr class="ded-table-thead-tr">
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 50px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 50px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 50px; text-align: center"
                  >
                    TH
                  </th>
                </tr>
              </thead>
              <tbody class="ded-table-tbody">
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td1</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td2</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td3</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td4</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-small ded-button-filled ded-button-filled-primary"
                      type="button"
                    >
                      <div class="ded-button-content">View</div>
                    </button>
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td1</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td2</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td3</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td4</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-small ded-button-filled ded-button-filled-primary"
                      type="button"
                    >
                      <div class="ded-button-content">View</div>
                    </button>
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td1</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td2</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td3</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td4</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-small ded-button-filled ded-button-filled-primary"
                      type="button"
                    >
                      <div class="ded-button-content">View</div>
                    </button>
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td1</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td2</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td3</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    <div class="ded-tooltip-container">td4</div>
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    <button
                      class="ded-button ded-button-fit ded-text-small ded-button-filled ded-button-filled-primary"
                      type="button"
                    >
                      <div class="ded-button-content">View</div>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          可勾選資料列
        </h3>
        <div style="margin-bottom: 24px">
          <div class="ded-table-container" style="overflow-x: auto">
            <table class="ded-table">
              <thead class="ded-table-thead">
                <tr class="ded-table-thead-tr">
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 50px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 100px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 50px; text-align: left"
                  >
                    TH
                  </th>
                  <th
                    class="ded-table-thead-tr-th"
                    style="width: 50px; text-align: center"
                  >
                    TH
                  </th>
                </tr>
              </thead>
              <tbody class="ded-table-tbody">
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
                <tr class="ded-table-tbody-tr ded-table-tbody-tr-sprite">
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 30px; align-items: center"
                  >
                    <input type="checkbox" class="ded-table-checkbox" />
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    Head-4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td1
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td2
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 100px; text-align: left"
                  >
                    td3
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: left"
                  >
                    td4
                  </td>
                  <td
                    class="ded-table-tbody-tr-td"
                    style="width: 50px; text-align: center"
                  >
                    td5
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
