<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabs</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Tabs</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div style="margin-bottom: 24px">
          <div class="ded-tabs-container">
            <div class="ded-tabs">
              <button
                class="ded-button ded-button-fit ded-text-medium ded-button-text ded-button-text-primary ded-tab ded-tab-primary-active ded-tab-primary"
                type="button"
              >
                <div class="ded-button-content">
                  <span class="ded-icon"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="100%"
                      viewBox="0 -960 960 960"
                      width="100%"
                      fill="currentColor"
                    >
                      <path
                        d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                      ></path></svg></span
                  ><span>Tab 1</span>
                </div></button
              ><button
                class="ded-button ded-button-fit ded-text-medium ded-button-text ded-button-text-primary ded-tab ded-tab-primary"
                type="button"
              >
                <div class="ded-button-content">
                  <span class="ded-icon"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="100%"
                      viewBox="0 -960 960 960"
                      width="100%"
                      fill="currentColor"
                    >
                      <path
                        d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                      ></path></svg></span
                  ><span>Tab 2</span>
                </div></button
              ><button
                class="ded-button ded-button-fit ded-text-medium ded-button-text ded-button-text-primary ded-tab ded-tab-primary"
                type="button"
              >
                <div class="ded-button-content">
                  <span class="ded-icon"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="100%"
                      viewBox="0 -960 960 960"
                      width="100%"
                      fill="currentColor"
                    >
                      <path
                        d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                      ></path></svg></span
                  ><span>Tab 3</span>
                </div>
              </button>
            </div>
            <div class="ded-tab-content false">Content 1</div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          頁籤類型
        </h3>
        <div style="margin-bottom: 24px">
          <div style="display: flex; flex-direction: column; gap: 32px">
            <div class="ded-tabs-container">
              <div class="ded-tabs">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-text ded-button-text-primary ded-tab ded-tab-primary-active ded-tab-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-text ded-button-text-primary ded-tab ded-tab-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-text ded-button-text-primary ded-tab ded-tab-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 1</div>
            </div>
            <div class="ded-tabs-container">
              <div class="ded-tabs">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-text ded-button-text-primary ded-tab ded-tab-outline-primary-active ded-tab-outline-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-text ded-button-text-primary ded-tab ded-tab-outline-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-text ded-button-text-primary ded-tab ded-tab-outline-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 1</div>
            </div>
            <div class="ded-tabs-container">
              <div class="ded-tabs ded-tabs-button">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button-primary-active ded-tab-button-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 1</div>
            </div>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          主題色彩
        </h3>
        <div style="margin-bottom: 24px">
          <div style="display: flex; flex-direction: column; gap: 32px">
            <div class="ded-tabs-container">
              <div class="ded-tabs ded-tabs-button">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div>
                </button>
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button-primary-active ded-tab-button-primary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 3</div>
            </div>
            <div class="ded-tabs-container">
              <div class="ded-tabs ded-tabs-button">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-secondary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-secondary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button-secondary-active ded-tab-button-secondary"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 3</div>
            </div>
            <div class="ded-tabs-container">
              <div class="ded-tabs ded-tabs-button">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-neutral"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-neutral"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button-neutral-active ded-tab-button-neutral"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 3</div>
            </div>
            <div class="ded-tabs-container">
              <div class="ded-tabs ded-tabs-button">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-info"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-info"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button-info-active ded-tab-button-info"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 3</div>
            </div>
            <div class="ded-tabs-container">
              <div class="ded-tabs ded-tabs-button">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-success"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-success"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button-success-active ded-tab-button-success"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 3</div>
            </div>
            <div class="ded-tabs-container">
              <div class="ded-tabs ded-tabs-button">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-warning"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-warning"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button-warning-active ded-tab-button-warning"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 3</div>
            </div>
            <div class="ded-tabs-container">
              <div class="ded-tabs ded-tabs-button">
                <button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-error"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 1</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button ded-tab-button-error"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 2</span>
                  </div></button
                ><button
                  class="ded-button ded-button-fit ded-text-medium ded-button-filled ded-button-filled-primary ded-tab-button-error-active ded-tab-button-error"
                  type="button"
                >
                  <div class="ded-button-content">
                    <span class="ded-icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="100%"
                        viewBox="0 -960 960 960"
                        width="100%"
                        fill="currentColor"
                      >
                        <path
                          d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"
                        ></path></svg></span
                    ><span>Tab 3</span>
                  </div>
                </button>
              </div>
              <div class="ded-tab-content false">Content 3</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
