<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/styles/globals.css" />
    <link rel="stylesheet" href="../public/styles/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tooltip</title>
  </head>
  <body>
    <div id="app" style="padding: 1rem">
      <button style="margin-bottom: 24px">
        <a href="../index.html">Back</a>
      </button>
      <div>
        <h2 style="font-size: 24px; margin-bottom: 16px">Tooltip</h2>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          預設項目
        </h3>
        <div style="margin-bottom: 24px">
          <div class="ded-toggle ded-toggle-success ded-toggle-on">
            <div class="ded-toggle-thumb ded-toggle-thumb-on"></div>
            <label class="ded-toggle-label ded-toggle-label-on">on</label>
          </div>
        </div>
        <h3 style="font-size: 16px; margin-bottom: 8px; margin-left: 8px">
          主題色彩
        </h3>
        <div style="display: flex; gap: 8px">
          <div class="ded-toggle ded-toggle-primary ded-toggle-on">
            <div class="ded-toggle-thumb ded-toggle-thumb-on"></div>
            <label class="ded-toggle-label ded-toggle-label-on">on</label>
          </div>
          <div class="ded-toggle ded-toggle-secondary ded-toggle-on">
            <div class="ded-toggle-thumb ded-toggle-thumb-on"></div>
            <label class="ded-toggle-label ded-toggle-label-on">on</label>
          </div>
          <div class="ded-toggle ded-toggle-neutral ded-toggle-on">
            <div class="ded-toggle-thumb ded-toggle-thumb-on"></div>
            <label class="ded-toggle-label ded-toggle-label-on">on</label>
          </div>
          <div class="ded-toggle ded-toggle-info ded-toggle-on">
            <div class="ded-toggle-thumb ded-toggle-thumb-on"></div>
            <label class="ded-toggle-label ded-toggle-label-on">on</label>
          </div>
          <div class="ded-toggle ded-toggle-success ded-toggle-on">
            <div class="ded-toggle-thumb ded-toggle-thumb-on"></div>
            <label class="ded-toggle-label ded-toggle-label-on">on</label>
          </div>
          <div class="ded-toggle ded-toggle-warning ded-toggle-on">
            <div class="ded-toggle-thumb ded-toggle-thumb-on"></div>
            <label class="ded-toggle-label ded-toggle-label-on">on</label>
          </div>
          <div class="ded-toggle ded-toggle-error ded-toggle-on">
            <div class="ded-toggle-thumb ded-toggle-thumb-on"></div>
            <label class="ded-toggle-label ded-toggle-label-on">on</label>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
