* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans", Arial, sans-serif;
}

.icon-xsmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-xsmall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

.icon-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 16px;
}

.text-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.component-small {
  height: 32px;
}

.icon-medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
}

.text-medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.component-medium {
  height: 38px;
}

.icon-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
}

.text-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.component-large {
  height: 48px;
}

.line-border {
  border-width: 1px;
  border-style: solid;
  border-color: #b2b2b2;
}

.shadow-border {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}

.title {
  font-size: inherit;
  font-weight: 400;
  color: currentColor;
}
.title-primary {
  color: #533bd4;
}
.title-secondary {
  color: #4adcff;
}
.title-tertiary {
  color: #f96cc0;
}
.title-success {
  color: #28c76f;
}
.title-warning {
  color: #ff9f43;
}
.title-error {
  color: #ff4c51;
}
.title-info {
  color: #00bad1;
}
.title-level-1 {
  font-size: 40px;
}
.title-level-2 {
  font-size: 30px;
}
.title-level-3 {
  font-size: 24px;
}
.title-level-4 {
  font-size: 20px;
}
.title-level-5 {
  font-size: 18px;
}
.title-level-6 {
  font-size: 16px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button:hover {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3019607843);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3019607843);
}
.button:active {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.button-contained {
  color: #fff;
}
.button-outlined {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
}
.button-outlined:focus {
  -webkit-box-shadow: 0 0 0 3px getStatusColor(getDarkLightColor("light", #533bd4, #533bd4), "20%");
          box-shadow: 0 0 0 3px getStatusColor(getDarkLightColor("light", #533bd4, #533bd4), "20%");
}
.button-outlined:active {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.button-text {
  padding: 0;
  height: auto;
  background-color: transparent;
  color: #1c1c1c;
}
.button-text:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.button-contained-primary {
  background-color: #533bd4;
}
.button-contained-primary:hover {
  background-color: rgb(66, 47, 170);
}
.button-contained-primary:focus {
  background-color: rgb(58, 41, 148);
}
.button-contained-primary:active {
  background-color: rgb(58, 41, 148);
}
.button-contained-secondary {
  background-color: #4adcff;
}
.button-contained-secondary:hover {
  background-color: rgb(59, 176, 204);
}
.button-contained-secondary:focus {
  background-color: rgb(52, 154, 178);
}
.button-contained-secondary:active {
  background-color: rgb(37, 110, 127);
}
.button-contained-tertiary {
  background-color: #f96cc0;
}
.button-contained-tertiary:hover {
  background-color: rgb(199, 86, 154);
}
.button-contained-tertiary:focus {
  background-color: rgb(174, 75, 134);
}
.button-contained-tertiary:active {
  background-color: rgb(174, 75, 134);
}
.button-contained-success {
  background-color: #28c76f;
}
.button-contained-success:hover {
  background-color: rgb(32, 159, 89);
}
.button-contained-success:focus {
  background-color: rgb(32, 159, 89);
}
.button-contained-success:active {
  background-color: rgb(32, 159, 89);
}
.button-contained-warning {
  background-color: #ff9f43;
}
.button-contained-warning:hover {
  background-color: rgb(204, 127, 54);
}
.button-contained-warning:focus {
  background-color: rgb(204, 127, 54);
}
.button-contained-warning:active {
  background-color: rgb(204, 127, 54);
}
.button-contained-error {
  background-color: #ff4c51;
}
.button-contained-error:hover {
  background-color: rgb(204, 61, 65);
}
.button-contained-error:focus {
  background-color: rgb(204, 61, 65);
}
.button-contained-error:active {
  background-color: rgb(204, 61, 65);
}
.button-contained-info {
  background-color: #00bad1;
}
.button-contained-info:hover {
  background-color: rgb(0, 149, 167);
}
.button-contained-info:focus {
  background-color: rgb(0, 149, 167);
}
.button-contained-info:active {
  background-color: rgb(0, 149, 167);
}
.button-outlined-primary {
  border-color: #533bd4;
  color: #533bd4;
}
.button-outlined-primary:hover {
  border-color: rgb(66, 47, 170);
  color: rgb(66, 47, 170);
}
.button-outlined-primary:focus {
  border-color: rgb(58, 41, 148);
  color: rgb(58, 41, 148);
}
.button-outlined-primary:active {
  border-color: rgb(58, 41, 148);
  color: rgb(58, 41, 148);
}
.button-outlined-secondary {
  border-color: #4adcff;
  color: #4adcff;
}
.button-outlined-secondary:hover {
  border-color: rgb(59, 176, 204);
  color: rgb(59, 176, 204);
}
.button-outlined-secondary:focus {
  border-color: rgb(52, 154, 178);
  color: rgb(52, 154, 178);
}
.button-outlined-secondary:active {
  border-color: rgb(37, 110, 127);
  color: rgb(37, 110, 127);
}
.button-outlined-tertiary {
  border-color: #f96cc0;
  color: #f96cc0;
}
.button-outlined-tertiary:hover {
  border-color: rgb(199, 86, 154);
  color: rgb(199, 86, 154);
}
.button-outlined-tertiary:focus {
  border-color: rgb(174, 75, 134);
  color: rgb(174, 75, 134);
}
.button-outlined-tertiary:active {
  border-color: rgb(174, 75, 134);
  color: rgb(174, 75, 134);
}
.button-outlined-success {
  border-color: #28c76f;
  color: #28c76f;
}
.button-outlined-success:hover {
  border-color: rgb(32, 159, 89);
  color: rgb(32, 159, 89);
}
.button-outlined-success:focus {
  border-color: rgb(32, 159, 89);
  color: rgb(32, 159, 89);
}
.button-outlined-success:active {
  border-color: rgb(32, 159, 89);
  color: rgb(32, 159, 89);
}
.button-outlined-warning {
  border-color: #ff9f43;
  color: #ff9f43;
}
.button-outlined-warning:hover {
  border-color: rgb(204, 127, 54);
  color: rgb(204, 127, 54);
}
.button-outlined-warning:focus {
  border-color: rgb(204, 127, 54);
  color: rgb(204, 127, 54);
}
.button-outlined-warning:active {
  border-color: rgb(204, 127, 54);
  color: rgb(204, 127, 54);
}
.button-outlined-error {
  border-color: #ff4c51;
  color: #ff4c51;
}
.button-outlined-error:hover {
  border-color: rgb(204, 61, 65);
  color: rgb(204, 61, 65);
}
.button-outlined-error:focus {
  border-color: rgb(204, 61, 65);
  color: rgb(204, 61, 65);
}
.button-outlined-error:active {
  border-color: rgb(204, 61, 65);
  color: rgb(204, 61, 65);
}
.button-outlined-info {
  border-color: #00bad1;
  color: #00bad1;
}
.button-outlined-info:hover {
  border-color: rgb(0, 149, 167);
  color: rgb(0, 149, 167);
}
.button-outlined-info:focus {
  border-color: rgb(0, 149, 167);
  color: rgb(0, 149, 167);
}
.button-outlined-info:active {
  border-color: rgb(0, 149, 167);
  color: rgb(0, 149, 167);
}
.button-text-primary {
  border-color: #533bd4;
  color: #533bd4;
}
.button-text-primary:hover {
  border-color: rgb(66, 47, 170);
  color: rgb(66, 47, 170);
}
.button-text-primary:focus {
  border-color: rgb(58, 41, 148);
  color: rgb(58, 41, 148);
}
.button-text-primary:active {
  border-color: rgb(58, 41, 148);
  color: rgb(58, 41, 148);
}
.button-text-secondary {
  border-color: #4adcff;
  color: #4adcff;
}
.button-text-secondary:hover {
  border-color: rgb(59, 176, 204);
  color: rgb(59, 176, 204);
}
.button-text-secondary:focus {
  border-color: rgb(52, 154, 178);
  color: rgb(52, 154, 178);
}
.button-text-secondary:active {
  border-color: rgb(37, 110, 127);
  color: rgb(37, 110, 127);
}
.button-text-tertiary {
  border-color: #f96cc0;
  color: #f96cc0;
}
.button-text-tertiary:hover {
  border-color: rgb(199, 86, 154);
  color: rgb(199, 86, 154);
}
.button-text-tertiary:focus {
  border-color: rgb(174, 75, 134);
  color: rgb(174, 75, 134);
}
.button-text-tertiary:active {
  border-color: rgb(174, 75, 134);
  color: rgb(174, 75, 134);
}
.button-text-success {
  border-color: #28c76f;
  color: #28c76f;
}
.button-text-success:hover {
  border-color: rgb(32, 159, 89);
  color: rgb(32, 159, 89);
}
.button-text-success:focus {
  border-color: rgb(32, 159, 89);
  color: rgb(32, 159, 89);
}
.button-text-success:active {
  border-color: rgb(32, 159, 89);
  color: rgb(32, 159, 89);
}
.button-text-warning {
  border-color: #ff9f43;
  color: #ff9f43;
}
.button-text-warning:hover {
  border-color: rgb(204, 127, 54);
  color: rgb(204, 127, 54);
}
.button-text-warning:focus {
  border-color: rgb(204, 127, 54);
  color: rgb(204, 127, 54);
}
.button-text-warning:active {
  border-color: rgb(204, 127, 54);
  color: rgb(204, 127, 54);
}
.button-text-error {
  border-color: #ff4c51;
  color: #ff4c51;
}
.button-text-error:hover {
  border-color: rgb(204, 61, 65);
  color: rgb(204, 61, 65);
}
.button-text-error:focus {
  border-color: rgb(204, 61, 65);
  color: rgb(204, 61, 65);
}
.button-text-error:active {
  border-color: rgb(204, 61, 65);
  color: rgb(204, 61, 65);
}
.button-text-info {
  border-color: #00bad1;
  color: #00bad1;
}
.button-text-info:hover {
  border-color: rgb(0, 149, 167);
  color: rgb(0, 149, 167);
}
.button-text-info:focus {
  border-color: rgb(0, 149, 167);
  color: rgb(0, 149, 167);
}
.button-text-info:active {
  border-color: rgb(0, 149, 167);
  color: rgb(0, 149, 167);
}

.button-container-disable {
  pointer-events: none !important;
  color: #cccccc !important;
  background-color: #cccccc !important;
  color: white !important;
}

.button-outline-disable {
  pointer-events: none !important;
  color: #cccccc !important;
  background-color: transparent !important;
  border: 2px solid #cccccc !important;
}

.button-text-disable {
  pointer-events: none !important;
  color: #cccccc !important;
  background-color: transparent !important;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  color: #999999;
  padding-inline: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
}
.input-group:hover {
  border: 1px solid rgb(221, 216, 246);
  -webkit-box-shadow: 0 0 0 2px rgb(221, 216, 246);
          box-shadow: 0 0 0 2px rgb(221, 216, 246);
}
.input-group:focus-within {
  border: 1px solid rgb(169, 157, 234);
  -webkit-box-shadow: 0 0 0 3px rgb(169, 157, 234);
          box-shadow: 0 0 0 3px rgb(169, 157, 234);
}
.input-group::-webkit-input-placeholder {
  color: #999999;
}
.input-group::-moz-placeholder {
  color: #999999;
}
.input-group:-ms-input-placeholder {
  color: #999999;
}
.input-group::-ms-input-placeholder {
  color: #999999;
}
.input-group::placeholder {
  color: #999999;
}
.input-group-icon {
  width: 24px;
  height: 24px;
}
.input-group-small {
  font-size: 14px;
  height: 32px;
}
.input-group-medium {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  height: 38px;
}
.input-group-large {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 18px;
  height: 48px;
}

.input {
  height: 100%;
  width: 100%;
  padding-block: 4px;
}

.input-border-error {
  border-color: #ff4c51 !important;
}

.input-label {
  font-size: 14px;
  color: #4d4d4d;
}

.input-hint {
  display: block;
  font-size: 13px;
}

.input-hint-desc {
  color: #666666;
}

.input-hint-error {
  color: #ff4c51 !important;
}

.input-disable {
  pointer-events: none !important;
  color: #cccccc !important;
  border-color: #cccccc !important;
}
.input-disable::-webkit-input-placeholder {
  color: #cccccc !important;
}
.input-disable::-moz-placeholder {
  color: #cccccc !important;
}
.input-disable:-ms-input-placeholder {
  color: #cccccc !important;
}
.input-disable::-ms-input-placeholder {
  color: #cccccc !important;
}
.input-disable::placeholder {
  color: #cccccc !important;
}

.textarea-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.textarea-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
}
.textarea-group:hover {
  -webkit-box-shadow: 0 0 0 2px rgb(221, 216, 246);
          box-shadow: 0 0 0 2px rgb(221, 216, 246);
  border: 1px solid rgb(221, 216, 246);
}
.textarea-group:focus-within {
  -webkit-box-shadow: 0 0 0 3px rgb(169, 157, 234);
          box-shadow: 0 0 0 3px rgb(169, 157, 234);
  border: 1px solid rgb(169, 157, 234);
}
.textarea-group .textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 128px;
  min-width: 300px;
  resize: none;
  margin-bottom: 8px;
  word-break: break-all;
  padding-top: 16px;
  padding-inline: 16px;
}
.textarea-group .textarea::-webkit-input-placeholder {
  color: #999999;
}
.textarea-group .textarea::-moz-placeholder {
  color: #999999;
}
.textarea-group .textarea:-ms-input-placeholder {
  color: #999999;
}
.textarea-group .textarea::-ms-input-placeholder {
  color: #999999;
}
.textarea-group .textarea::placeholder {
  color: #999999;
}
.textarea-group .textarea-hint-count {
  position: absolute;
  font-size: 13px;
  color: #999999;
  right: 12px;
  bottom: 4px;
}

.textarea-disable {
  pointer-events: none !important;
  color: #cccccc !important;
  border-color: #cccccc !important;
}
.textarea-disable::-webkit-input-placeholder {
  color: #cccccc !important;
}
.textarea-disable::-moz-placeholder {
  color: #cccccc !important;
}
.textarea-disable:-ms-input-placeholder {
  color: #cccccc !important;
}
.textarea-disable::-ms-input-placeholder {
  color: #cccccc !important;
}
.textarea-disable::placeholder {
  color: #cccccc !important;
}

.textarea-border-error {
  border-color: #ff4c51 !important;
}

.textarea-label {
  font-size: 14px;
  color: #4d4d4d;
}

.textarea-hint {
  display: block;
  font-size: 13px;
}

.textarea-hint-desc {
  color: #666666;
}

.textarea-hint-error {
  color: #ff4c51 !important;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 15px;
}
.toggle:focus {
  -webkit-box-shadow: 0 0 1px 2px white, 0 0 1px 4px getStatusColor(getDarkLightColor("light", #533bd4, #533bd4), "20%");
          box-shadow: 0 0 1px 2px white, 0 0 1px 4px getStatusColor(getDarkLightColor("light", #533bd4, #533bd4), "20%");
}
.toggle-thumb {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
}
.toggle-thumb-disable {
  pointer-events: none !important;
  background-color: #eeeeee !important;
}
.toggle-thumb-on {
  right: calc(0% + 3px);
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.toggle-thumb-off {
  right: calc(100% - 3px);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.toggle-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 20px;
  padding: 0 2px;
  color: white;
  cursor: pointer;
}
.toggle-label-disable {
  pointer-events: none !important;
  color: #eeeeee !important;
}
.toggle-label-on {
  margin-right: 18px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.toggle-label-off {
  margin-left: 18px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.toggle-on {
  background-color: #28c76f;
}
.toggle-off {
  background-color: #999999 !important;
}
.toggle-disable {
  pointer-events: none !important;
  background-color: #cccccc !important;
  color: #eeeeee !important;
}
.toggle-primary {
  background-color: #533bd4;
}
.toggle-secondary {
  background-color: #4adcff;
}
.toggle-tertiary {
  background-color: #f96cc0;
}
.toggle-success {
  background-color: #28c76f;
}
.toggle-warning {
  background-color: #ff9f43;
}
.toggle-error {
  background-color: #ff4c51;
}
.toggle-info {
  background-color: #00bad1;
}

.radio-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.radio-container-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.radio-container-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  cursor: pointer;
}
.radio-input {
  display: none;
}
.radio-text {
  color: #1c1c1c;
}
.radio-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.radio-checked-primary {
  background-color: #533bd4;
  border-color: #533bd4;
  color: white;
}
.radio-checked-primary:hover {
  border-color: #533bd4;
}
.radio-checked-primary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(221, 216, 246);
          box-shadow: 0 0 0 3px rgb(221, 216, 246);
}
.radio-unchecked-primary {
  background-color: transparent;
}
.radio-unchecked-primary:hover {
  border-color: #533bd4;
}
.radio-unchecked-primary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(221, 216, 246);
          box-shadow: 0 0 0 3px rgb(221, 216, 246);
}
.radio-checked-secondary {
  background-color: #4adcff;
  border-color: #4adcff;
  color: white;
}
.radio-checked-secondary:hover {
  border-color: #4adcff;
}
.radio-checked-secondary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(219, 248, 255);
          box-shadow: 0 0 0 3px rgb(219, 248, 255);
}
.radio-unchecked-secondary {
  background-color: transparent;
}
.radio-unchecked-secondary:hover {
  border-color: #4adcff;
}
.radio-unchecked-secondary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(219, 248, 255);
          box-shadow: 0 0 0 3px rgb(219, 248, 255);
}
.radio-checked-tertiary {
  background-color: #f96cc0;
  border-color: #f96cc0;
  color: white;
}
.radio-checked-tertiary:hover {
  border-color: #f96cc0;
}
.radio-checked-tertiary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(254, 226, 242);
          box-shadow: 0 0 0 3px rgb(254, 226, 242);
}
.radio-unchecked-tertiary {
  background-color: transparent;
}
.radio-unchecked-tertiary:hover {
  border-color: #f96cc0;
}
.radio-unchecked-tertiary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(254, 226, 242);
          box-shadow: 0 0 0 3px rgb(254, 226, 242);
}
.radio-checked-success {
  background-color: #28c76f;
  border-color: #28c76f;
  color: white;
}
.radio-checked-success:hover {
  border-color: #28c76f;
}
.radio-checked-success:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(212, 244, 226);
          box-shadow: 0 0 0 3px rgb(212, 244, 226);
}
.radio-unchecked-success {
  background-color: transparent;
}
.radio-unchecked-success:hover {
  border-color: #28c76f;
}
.radio-unchecked-success:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(212, 244, 226);
          box-shadow: 0 0 0 3px rgb(212, 244, 226);
}
.radio-checked-warning {
  background-color: #ff9f43;
  border-color: #ff9f43;
  color: white;
}
.radio-checked-warning:hover {
  border-color: #ff9f43;
}
.radio-checked-warning:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(255, 236, 217);
          box-shadow: 0 0 0 3px rgb(255, 236, 217);
}
.radio-unchecked-warning {
  background-color: transparent;
}
.radio-unchecked-warning:hover {
  border-color: #ff9f43;
}
.radio-unchecked-warning:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(255, 236, 217);
          box-shadow: 0 0 0 3px rgb(255, 236, 217);
}
.radio-checked-error {
  background-color: #ff4c51;
  border-color: #ff4c51;
  color: white;
}
.radio-checked-error:hover {
  border-color: #ff4c51;
}
.radio-checked-error:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(255, 219, 220);
          box-shadow: 0 0 0 3px rgb(255, 219, 220);
}
.radio-unchecked-error {
  background-color: transparent;
}
.radio-unchecked-error:hover {
  border-color: #ff4c51;
}
.radio-unchecked-error:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(255, 219, 220);
          box-shadow: 0 0 0 3px rgb(255, 219, 220);
}
.radio-checked-info {
  background-color: #00bad1;
  border-color: #00bad1;
  color: white;
}
.radio-checked-info:hover {
  border-color: #00bad1;
}
.radio-checked-info:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(204, 241, 246);
          box-shadow: 0 0 0 3px rgb(204, 241, 246);
}
.radio-unchecked-info {
  background-color: transparent;
}
.radio-unchecked-info:hover {
  border-color: #00bad1;
}
.radio-unchecked-info:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(204, 241, 246);
          box-shadow: 0 0 0 3px rgb(204, 241, 246);
}

.checkbox-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
}
.checkbox-container-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.checkbox-container-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  cursor: pointer;
}
.checkbox-input {
  display: none;
}
.checkbox-text {
  color: #1c1c1c;
}
.checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid #999999;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.checkbox-checked-primary {
  background-color: #533bd4;
  border-color: #533bd4;
  color: white;
}
.checkbox-checked-primary:hover {
  border-color: #533bd4;
}
.checkbox-checked-primary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(221, 216, 246);
          box-shadow: 0 0 0 3px rgb(221, 216, 246);
}
.checkbox-unchecked-primary {
  background-color: transparent;
}
.checkbox-unchecked-primary:hover {
  border-color: #533bd4;
}
.checkbox-unchecked-primary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(221, 216, 246);
          box-shadow: 0 0 0 3px rgb(221, 216, 246);
}
.checkbox-checked-secondary {
  background-color: #4adcff;
  border-color: #4adcff;
  color: white;
}
.checkbox-checked-secondary:hover {
  border-color: #4adcff;
}
.checkbox-checked-secondary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(219, 248, 255);
          box-shadow: 0 0 0 3px rgb(219, 248, 255);
}
.checkbox-unchecked-secondary {
  background-color: transparent;
}
.checkbox-unchecked-secondary:hover {
  border-color: #4adcff;
}
.checkbox-unchecked-secondary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(219, 248, 255);
          box-shadow: 0 0 0 3px rgb(219, 248, 255);
}
.checkbox-checked-tertiary {
  background-color: #f96cc0;
  border-color: #f96cc0;
  color: white;
}
.checkbox-checked-tertiary:hover {
  border-color: #f96cc0;
}
.checkbox-checked-tertiary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(254, 226, 242);
          box-shadow: 0 0 0 3px rgb(254, 226, 242);
}
.checkbox-unchecked-tertiary {
  background-color: transparent;
}
.checkbox-unchecked-tertiary:hover {
  border-color: #f96cc0;
}
.checkbox-unchecked-tertiary:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(254, 226, 242);
          box-shadow: 0 0 0 3px rgb(254, 226, 242);
}
.checkbox-checked-success {
  background-color: #28c76f;
  border-color: #28c76f;
  color: white;
}
.checkbox-checked-success:hover {
  border-color: #28c76f;
}
.checkbox-checked-success:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(212, 244, 226);
          box-shadow: 0 0 0 3px rgb(212, 244, 226);
}
.checkbox-unchecked-success {
  background-color: transparent;
}
.checkbox-unchecked-success:hover {
  border-color: #28c76f;
}
.checkbox-unchecked-success:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(212, 244, 226);
          box-shadow: 0 0 0 3px rgb(212, 244, 226);
}
.checkbox-checked-warning {
  background-color: #ff9f43;
  border-color: #ff9f43;
  color: white;
}
.checkbox-checked-warning:hover {
  border-color: #ff9f43;
}
.checkbox-checked-warning:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(255, 236, 217);
          box-shadow: 0 0 0 3px rgb(255, 236, 217);
}
.checkbox-unchecked-warning {
  background-color: transparent;
}
.checkbox-unchecked-warning:hover {
  border-color: #ff9f43;
}
.checkbox-unchecked-warning:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(255, 236, 217);
          box-shadow: 0 0 0 3px rgb(255, 236, 217);
}
.checkbox-checked-error {
  background-color: #ff4c51;
  border-color: #ff4c51;
  color: white;
}
.checkbox-checked-error:hover {
  border-color: #ff4c51;
}
.checkbox-checked-error:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(255, 219, 220);
          box-shadow: 0 0 0 3px rgb(255, 219, 220);
}
.checkbox-unchecked-error {
  background-color: transparent;
}
.checkbox-unchecked-error:hover {
  border-color: #ff4c51;
}
.checkbox-unchecked-error:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(255, 219, 220);
          box-shadow: 0 0 0 3px rgb(255, 219, 220);
}
.checkbox-checked-info {
  background-color: #00bad1;
  border-color: #00bad1;
  color: white;
}
.checkbox-checked-info:hover {
  border-color: #00bad1;
}
.checkbox-checked-info:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(204, 241, 246);
          box-shadow: 0 0 0 3px rgb(204, 241, 246);
}
.checkbox-unchecked-info {
  background-color: transparent;
}
.checkbox-unchecked-info:hover {
  border-color: #00bad1;
}
.checkbox-unchecked-info:focus {
  -webkit-box-shadow: 0 0 0 3px rgb(204, 241, 246);
          box-shadow: 0 0 0 3px rgb(204, 241, 246);
}

.tab {
  color: #666666;
  background-color: transparent;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #cccccc;
}
.tab:hover {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.tab-active {
  color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.tab-content {
  padding: 8px;
}
.tab-primary:hover {
  border-bottom: 2px solid #533bd4;
  background-color: rgb(221, 216, 246);
  color: #533bd4;
}
.tab-primary:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(169, 157, 234) inset;
          box-shadow: 0 0 0 2px rgb(169, 157, 234) inset;
}
.tab-card-primary:hover {
  background-color: rgb(221, 216, 246);
  color: #533bd4;
}
.tab-card-primary:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(169, 157, 234) inset;
          box-shadow: 0 0 0 2px rgb(169, 157, 234) inset;
}
.tab-primary-active {
  color: #533bd4;
  border-bottom: 2px solid #533bd4;
}
.tab-card-primary-active {
  color: #533bd4;
  border: 1px solid #cccccc;
  border-bottom-width: 0px;
}
.tab-secondary:hover {
  border-bottom: 2px solid #4adcff;
  background-color: rgb(219, 248, 255);
  color: #4adcff;
}
.tab-secondary:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(165, 238, 255) inset;
          box-shadow: 0 0 0 2px rgb(165, 238, 255) inset;
}
.tab-card-secondary:hover {
  background-color: rgb(219, 248, 255);
  color: #4adcff;
}
.tab-card-secondary:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(165, 238, 255) inset;
          box-shadow: 0 0 0 2px rgb(165, 238, 255) inset;
}
.tab-secondary-active {
  color: #4adcff;
  border-bottom: 2px solid #4adcff;
}
.tab-card-secondary-active {
  color: #4adcff;
  border: 1px solid #cccccc;
  border-bottom-width: 0px;
}
.tab-tertiary:hover {
  border-bottom: 2px solid #f96cc0;
  background-color: rgb(254, 226, 242);
  color: #f96cc0;
}
.tab-tertiary:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(252, 182, 224) inset;
          box-shadow: 0 0 0 2px rgb(252, 182, 224) inset;
}
.tab-card-tertiary:hover {
  background-color: rgb(254, 226, 242);
  color: #f96cc0;
}
.tab-card-tertiary:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(252, 182, 224) inset;
          box-shadow: 0 0 0 2px rgb(252, 182, 224) inset;
}
.tab-tertiary-active {
  color: #f96cc0;
  border-bottom: 2px solid #f96cc0;
}
.tab-card-tertiary-active {
  color: #f96cc0;
  border: 1px solid #cccccc;
  border-bottom-width: 0px;
}
.tab-success:hover {
  border-bottom: 2px solid #28c76f;
  background-color: rgb(212, 244, 226);
  color: #28c76f;
}
.tab-success:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(148, 227, 183) inset;
          box-shadow: 0 0 0 2px rgb(148, 227, 183) inset;
}
.tab-card-success:hover {
  background-color: rgb(212, 244, 226);
  color: #28c76f;
}
.tab-card-success:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(148, 227, 183) inset;
          box-shadow: 0 0 0 2px rgb(148, 227, 183) inset;
}
.tab-success-active {
  color: #28c76f;
  border-bottom: 2px solid #28c76f;
}
.tab-card-success-active {
  color: #28c76f;
  border: 1px solid #cccccc;
  border-bottom-width: 0px;
}
.tab-warning:hover {
  border-bottom: 2px solid #ff9f43;
  background-color: rgb(255, 236, 217);
  color: #ff9f43;
}
.tab-warning:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(255, 207, 161) inset;
          box-shadow: 0 0 0 2px rgb(255, 207, 161) inset;
}
.tab-card-warning:hover {
  background-color: rgb(255, 236, 217);
  color: #ff9f43;
}
.tab-card-warning:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(255, 207, 161) inset;
          box-shadow: 0 0 0 2px rgb(255, 207, 161) inset;
}
.tab-warning-active {
  color: #ff9f43;
  border-bottom: 2px solid #ff9f43;
}
.tab-card-warning-active {
  color: #ff9f43;
  border: 1px solid #cccccc;
  border-bottom-width: 0px;
}
.tab-error:hover {
  border-bottom: 2px solid #ff4c51;
  background-color: rgb(255, 219, 220);
  color: #ff4c51;
}
.tab-error:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(255, 166, 168) inset;
          box-shadow: 0 0 0 2px rgb(255, 166, 168) inset;
}
.tab-card-error:hover {
  background-color: rgb(255, 219, 220);
  color: #ff4c51;
}
.tab-card-error:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(255, 166, 168) inset;
          box-shadow: 0 0 0 2px rgb(255, 166, 168) inset;
}
.tab-error-active {
  color: #ff4c51;
  border-bottom: 2px solid #ff4c51;
}
.tab-card-error-active {
  color: #ff4c51;
  border: 1px solid #cccccc;
  border-bottom-width: 0px;
}
.tab-info:hover {
  border-bottom: 2px solid #00bad1;
  background-color: rgb(204, 241, 246);
  color: #00bad1;
}
.tab-info:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(128, 221, 232) inset;
          box-shadow: 0 0 0 2px rgb(128, 221, 232) inset;
}
.tab-card-info:hover {
  background-color: rgb(204, 241, 246);
  color: #00bad1;
}
.tab-card-info:focus {
  -webkit-box-shadow: 0 0 0 2px rgb(128, 221, 232) inset;
          box-shadow: 0 0 0 2px rgb(128, 221, 232) inset;
}
.tab-info-active {
  color: #00bad1;
  border-bottom: 2px solid #00bad1;
}
.tab-card-info-active {
  color: #00bad1;
  border: 1px solid #cccccc;
  border-bottom-width: 0px;
}

.tabs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.tab-disable {
  pointer-events: none !important;
  color: #cccccc !important;
  background-color: transparent !important;
  border-bottom-color: #999999 !important;
}

.accordion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-bottom: 1px solid #cccccc;
}
.accordion-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accordion-item-icon {
  color: #999999;
}
.accordion-item-content {
  margin-left: 32px;
}

.breadcrumb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumb-dot-menu {
  display: none !important;
}
.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-inline: 0.5rem;
  color: #4d4d4d;
  content: "/";
}
.breadcrumb-item-label {
  color: #4d4d4d;
}
.breadcrumb-item-link {
  color: #999999;
  text-decoration: none;
}
.breadcrumb-item-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.rest {
  position: relative;
}
.rest-label {
  color: #999999;
  cursor: pointer;
}
.rest-label:hover {
  text-underline-offset: 4px;
  text-decoration: underline;
}
.rest-dropdown-menu {
  list-style: none;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078), 0px 1px 4px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078), 0px 1px 4px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 4px;
  overflow: hidden;
  width: 200px;
  position: absolute;
  top: calc(100% + 8px);
}

.drop-item-link {
  display: block;
  padding: 12px 8px;
  color: #999999;
  text-decoration: none;
}
.drop-item-link:hover {
  background-color: #eeeeee;
}

.progress-circle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-circle-track {
  stroke: #eeeeee;
}
.progress-circle-percent-primary {
  stroke: #533bd4;
}
.progress-circle-percent-secondary {
  stroke: #4adcff;
}
.progress-circle-percent-tertiary {
  stroke: #f96cc0;
}
.progress-circle-percent-success {
  stroke: #28c76f;
}
.progress-circle-percent-warning {
  stroke: #ff9f43;
}
.progress-circle-percent-error {
  stroke: #ff4c51;
}
.progress-circle-percent-info {
  stroke: #00bad1;
}
.progress-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.progress-line-track {
  width: 100%;
  background-color: #eeeeee;
  border-radius: 4px;
  overflow: hidden;
}
.progress-line-percent-primary {
  height: 100%;
  background-color: #533bd4;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.progress-line-percent-secondary {
  height: 100%;
  background-color: #4adcff;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.progress-line-percent-tertiary {
  height: 100%;
  background-color: #f96cc0;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.progress-line-percent-success {
  height: 100%;
  background-color: #28c76f;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.progress-line-percent-warning {
  height: 100%;
  background-color: #ff9f43;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.progress-line-percent-error {
  height: 100%;
  background-color: #ff4c51;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}
.progress-line-percent-info {
  height: 100%;
  background-color: #00bad1;
  -webkit-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.progress-circle-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.progress-circle-label span {
  font-size: 14px;
}

.progress-line-percent {
  width: calc(3ch + 1em);
  font-size: 14px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  color: #999999;
}
.search-icon {
  width: 20px;
  height: 20px;
  color: #999999;
}

/* Slider.css */
.slider {
  position: relative;
  width: 100%;
  height: 5px;
  background: #ddd;
  margin: 25px 0;
}

.slider-track,
.slider-range {
  position: absolute;
  height: 100%;
}

.slider-track {
  background: #ddd;
  z-index: 1;
}

.slider-range {
  background: #3f51b5;
  z-index: 2;
}

.card-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.card-container:has(:first-child) {
  padding-top: 16px;
}
.card-container:has(:last-child) {
  padding-bottom: 16px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .card-pic {
    width: 100%;
  }
  .card-pic-padding {
    padding-inline: 16px;
    padding-top: 16px;
  }
}
.card-pic-padding {
  padding-block: 16px;
  padding-left: 16px;
}
.card-pic img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-pic .image-rounded {
  border-radius: 8px;
}
.card-pic-11 {
  aspect-ratio: 1;
}
.card-pic-43 {
  aspect-ratio: 1.3333333333;
}
.card-pic-54 {
  aspect-ratio: 1.25;
}
.card-pic-169 {
  aspect-ratio: 1.7777777778;
}
.card-header {
  width: 100%;
  padding-inline: 16px;
}
.card-header .subtitle {
  color: gray;
  padding-top: 16px;
}
.card-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-header-title .card-icon {
  width: 24px;
  height: 24px;
  color: #999999;
}
.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.card-body .card-desc {
  padding-inline: 16px;
  color: #1c1c1c;
}
.card-footer {
  width: 100%;
  padding-inline: 16px;
  margin-top: auto;
}

.avatar-container {
  position: relative;
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
  border-radius: 50%;
}
.avatar-container:not(:first-child) {
  margin-left: -20px;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eeeeee;
}
.avatar-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.avatar-icon {
  position: absolute;
  bottom: -2px;
  right: -2px;
  border-radius: 50%;
  background-color: white;
}
.avatar-text {
  color: #666666;
}

.avatar-container-xsmall {
  width: 24px;
  height: 24px;
}

.avatar-container-small {
  width: 40px;
  height: 40px;
}

.avatar-icon-small {
  width: 16px;
  height: 16px;
}

.avatar-container-medium {
  width: 56px;
  height: 56px;
}

.avatar-icon-medium {
  width: 20px;
  height: 20px;
}

.avatar-container-large {
  width: 72px;
  height: 72px;
}

.avatar-icon-large {
  width: 24px;
  height: 24px;
}

.avatar-icon-online {
  color: #28c76f;
}

.avatar-icon-idle {
  color: #ff9f43;
}

.avatar-icon-busy {
  color: #ff4c51;
}

.avatar-icon-offline {
  color: #cccccc;
}

.avatar-circle {
  border-radius: 50%;
}

.avatar-square {
  border-radius: 4px;
}

.avatar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  position: relative;
}

.rest-container {
  position: relative;
  margin-left: -20px;
}
.rest-container-menu {
  position: absolute;
  top: calc(100% + 8px);
  left: -50%;
  min-width: 200px;
  border-radius: 4px;
}

.menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  padding-block: 8px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078), 0px 1px 4px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078), 0px 1px 4px 0px rgba(0, 0, 0, 0.1019607843);
  list-style: none;
  border-radius: 8px;
}
.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
  padding: 8px;
}
.menu-item:hover {
  background-color: #eeeeee;
}
.menu-item:focus {
  -webkit-box-shadow: 0 0 0 2px inset #666666;
          box-shadow: 0 0 0 2px inset #666666;
}

.password-icon {
  width: 20px;
  height: 20px;
  color: #999999;
}

.tooltip {
  position: absolute;
  z-index: 999;
}
.tooltip-top {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.tooltip-bottom {
  -webkit-transform: translate(-50%, 8px);
          transform: translate(-50%, 8px);
}
.tooltip-content {
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: black;
  font-size: 13px;
}
.tooltip-arrow {
  position: absolute;
}
.tooltip-arrow-top {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
}
.tooltip-arrow-bottom {
  top: calc(0% - 6px);
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.tooltip-arrow-left {
  top: 50%;
  left: calc(100% - 2px);
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}
.tooltip-arrow-right {
  top: 50%;
  left: calc(0% - 8px);
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.tooltip-arrow-top-left {
  top: 100%;
  left: 30%;
  -webkit-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
}
.tooltip-arrow-top-right {
  top: 100%;
  left: 70%;
  -webkit-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
}
.tooltip-arrow-bottom-left {
  top: calc(0% - 6px);
  left: 30%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.tooltip-arrow-bottom-right {
  top: calc(0% - 6px);
  left: 70%;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}
.tooltip-arrow-left-top {
  top: 30%;
  left: calc(100% - 2px);
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}
.tooltip-arrow-left-bottom {
  top: 70%;
  left: calc(100% - 2px);
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}
.tooltip-arrow-right-top {
  top: 30%;
  left: calc(0% - 8px);
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.tooltip-arrow-right-bottom {
  top: 70%;
  left: calc(0% - 8px);
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.tooltip-arrow-shape {
  width: 10px;
  height: 6px;
  background: #000000;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.button-custom {
  background-color: rgba(11, 192, 134, 0.6666666667);
  color: #ffffff;
  border-color: #f8f9fa;
}
.button-custom:hover {
  background-color: hsla(161, 89%, 40%, 0.667);
  color: #ffffff;
  border-color: #f8f9fa;
}
.button-custom:active {
  background-color: rgba(11, 192, 134, 0.6666666667);
  color: #ffffff;
  border-color: #f8f9fa;
}

.input-custom {
  border-color: #0bc086;
}

.textarea-custom .textarea-label {
  color: #fcc;
}

.online {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #0bc086;
  color: #ffffff;
}

.busy {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #f26940;
  color: #ffffff;
}

.icon {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=globals.css.map */